header{
    background-image: url(../image/Bg1.png);
    width: 100%;
    box-shadow: inset 0px 100px 40px 0px rgba(14, 12, 12, 0.3);
}
.menu{
    width: 1170px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.menu-logo{
    width: 30%;
}
@media all and (max-width: 1170px){
    .menu-logo{
        display: none;
    }
}
.menu-p {
    display: flex;
    align-items: center;
}
.menu-p ul{
    display: flex;
}
.menu-p ul li a{
    text-decoration: none;
    color: white;
    padding: 35px 30px;
    font-size: 21px;
    font-family: 'Gentium Book Basic', serif;
}
.menu-p ul li a:hover{
    border-top: solid 2px white;
}
@media all and (max-width: 1170px){
    .menu-logo{
        display: none;
    }
    .menu{
        width: 100%;
    }
}
@media all and (max-width: 760px){
    .menu-p ul li a{
        padding: 35px 10px;
    }
}
@media all and (max-width: 560px){
    .menu{
        display: none;
    }
}


.menu-mobale{
    display: none;
}
@media all and (max-width: 560px){
    .menu-mobale{
        display: block;
    }
}
.fff{
    max-width: 560px;
    height: 70px;
    background-color: rgba(51, 56, 55, 0.377);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.mobale-icon{
    width: 50px;
    height: 50px;
    border: solid 1px white;
    margin-top: 10px;
    cursor: pointer;
}
.mobale-line{
    width: 35px;
    height: 2px;
    color: white;
    margin-top: 9px;
}
.mobile-p{
    background-color: rgba(51, 56, 55, 0.377);
    display: none;
}
.mobile-p ul{
    margin-top: -7px;
}
.mobile-p ul li{
    margin-top: 7px;
    cursor: pointer;
    margin-left: 5px;
}
.mobile-p ul li a{
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-family: 'Gentium Book Basic', serif;
}
.mobile-p ul li:hover{
    background-color: rgba(32, 31, 34, 0.301);
}

.mobaile-logo img{
    width: 150px;
    height: 70px;
}

.content{
    text-align: center;
}
.content-text{
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.922);
    text-shadow: 0px 1px 2px rgba(1, 1, 1, 0.64);
    font-family: 'Yeseva One', cursive;
    margin-top: 80px;
}
.content-text p{
    margin-top: 10px;
    margin-bottom: 20px;
}
.content-botton button{
    margin: 20px 15px 120px 0px;
    cursor: pointer;
    font-size: 18px;
    font-family: "Lato";
    padding: 15px 40px;
    color: rgb(255, 255, 255);
}
@media all and (max-width: 473px){
    .content-botton button{
        margin: 10px 15px 15px 0px;
    }
}
.content-botton button:hover{
    opacity: 0.8;
}
.content-btn{
    background-color: rgba(0, 0, 0, 0.39);
    border: 1px solid black;
}
.content-ntb{
    background-color: rgba(255, 255, 255, 0.39);
    border: 1px solid white;
}

.about{
    background-image: url(../image/background.png);
    width: 100%;
}
.about-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 35px;
}
.about-section-logo{
    text-align: center;
}
.about-section-cook{
    text-align: center;
    margin-left: 60px;
}
.about-section-text{
    font-size: 36px;
    font-family: 'Yeseva One', cursive;
    color: rgb(204, 153, 0);
    margin: 50px 0px 30px 0px;
}
.about-section-info{
    max-width: 350px;
    font-size: 16px;
    font-family: 'Gentium Book Basic', serif;
    color: rgb(76, 76, 76);
    line-height: 1.3;
    text-align: center;
    margin: 30px 0px;
}
.about-section-2 img{
    width: 100%;
    height: auto;
}
.ingredients{
    background-image: url(../image/bg.png);
    width: 100%;
    height: 100vh;
}
.ingredients-block{
    background-color: rgba(0, 0, 0, 0.637);
    max-width: 500px;
    text-align: center;
    position: relative;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%)
}
@media all and (max-width: 1015px){
    .ingredients-block{
        left: 50%;
    }
}
.ingredients-block-headiag{
    font-size: 36px;
    font-family: 'Yeseva One', cursive;
    color: rgb(255, 255, 255);
    padding: 30px 0px 20px 0px;
}
.ingredients-text{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    margin: 20px 0px 30px 0px;
    padding: 0px 40px 0px 40px;
}
@media all and (max-width: 456px){
    .ingredients-text{
        margin: 10px 0px 20px 0px;
    }
}
.ingredients-image{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
@media all and (max-width: 456px){
    .ingredients-image{
        padding-bottom: 10px;
    }
}
.section-menu{
    background-image: url(../image/background-1.png);
    width: 100%;
}
.menu-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1100px;
}
.menu-item{
    text-align: center;
}
.menu-headline{
    font-size: 36px;
    font-family: 'Yeseva One', cursive;
    color: rgb(204, 153, 0);
    margin: 40px 0 20px 0;
}
.menu-section{
    margin: 30px 0;
}
.menu-title{
    display: flex;
    justify-content: space-between;
}
.menu-title p{
    font-size: 21px;
    font-family: 'Yeseva One', cursive;
    color: rgb(200, 159, 45);
}
.munu-line hr{
    background-color: rgb(200, 159, 45);
    height: 1px;
    border: none;
}
.menu-info p{
    color: rgb(131, 124, 124);
    font-family: 'Yeseva One', cursive;
}
.reviews{
    background-image: url(../image/bg-1.png);
    width: 100%;
    height: 700px;
}
.reviews-block{
    background-color: rgba(0, 0, 0, 0.705);
    max-width: 650px;
    height: auto;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.reviews-heading p{
    font-size: 36px;
    font-family: 'Yeseva One', cursive;
    color: rgb(255, 255, 255);
    padding: 30px 0 20px 0;
}
.reviews-text{
    font-size: 25px;
    font-family: 'Gentium Book Basic', serif;
    color: rgb(221, 224, 223);
    font-weight: bold;
    line-height: 1.8;
    padding: 50px;
}
.reviews-city p{
    color: white;
    font-size: 20px;
    font-family: 'Yeseva One', cursive;
    padding-bottom: 20px;
}
.resarvation{
    background-image: url(../image/background.png);
    width: 100%;
}
.resarvation-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    /* width: 1100px; */
    padding: 50px 0;
}

.resarvation-image img{
    margin-right: 30px;
}
@media all and (max-width: 620px){
    .resarvation-image img{
        display: none;
    }
}
.resarvation-block{
    max-width: 400px;
    text-align: center;
}

@media all and (max-width: 1020px){
    .resarvation-block{
        margin-top: 50px;
    }
}
.resarvation-heading{
    font-size: 36px;
    font-family: 'Yeseva One', cursive;
    color: rgb(204, 153, 0);
}
.resarvation-text{
    font-size: 16px;
    font-family: "Lato";
    color: rgb(76, 76, 76);
    line-height: 1.5;
}
.resarvation-text p{
    margin: 30px 0;
}
input {
    border-width: 1px;
    border-color: rgb(200, 198, 198);
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 7px;
    width: 150px;
}  
input:invalid {
    border: solid 1px red;
}
.booking{
    display: flex;
    justify-content: space-between;
}
.booking p{
    text-align: left;
    font-size: 14px;
    color: rgb(201, 161, 49);
    font-weight: bold;
    margin-bottom: 7px;
}
.booking-data{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.booking-data label{
    display: flex;
    text-align: left;
    font-size: 14px;
    color: rgb(201, 161, 49);
    font-weight: bold;
    margin-bottom: -7px;
}
.buttom-submit button{
    border-width: 1px;
    border-color: rgb(200, 159, 45);
    border-style: solid;
    background-color: rgba(200, 159, 45, 0.98);
    font-size: 16px;
    font-family: 'Gentium Book Basic', serif;
    color: rgb(255, 255, 255);
    padding: 10px 50px;
    margin-top: 30px;
    cursor: pointer;
}
.buttom-submit button:hover{
    opacity: 0.8;
}
footer{
    background-color: black;
    width: 100%;
}
.footer-content{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}
.column{
    text-align: center;
    max-width: 350px;
    padding: 80px 30px;
}
@media all and (max-width: 1040px){
    .column{
        padding: 30px 30px;
    }
}
.column-heading p{
    font-size: 21px;
    font-family: 'Yeseva One', cursive;
    color: rgb(254, 254, 254);
    margin-bottom: 20px;
}
.column-text p{
    font-size: 16px;
    font-family: 'Gentium Book Basic', serif;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    margin-top: 20px;
}